//editor-style.scss
@import "_shared-styles.scss";

.editor-post-title__block,
.editor-post-title__input {
    font-family: $font-basic;
}

.wp-block-quote {
    font-family: $font-apo;
}

ul.wp-block-gallery li {
    padding-left: 0;
}

a {
    text-decoration: underline;
}