@media (max-width: 766px) {
  p,
  .content-wrapper ul {
    font-size: 18px;
    line-height: 1.4em;
  }

  h1 {
    font-size: 32px;
    line-height: 1em;
  }
  .content-wrapper {
    padding: 0 0 20px;

    li {
      margin: 0;
    }

    h3 {
      font-size: 1.2em;
      line-height: 1.4em;
      margin-top: $margin-lg;
    }

    h4 {
      font-size: 18px;
      line-height: 1.3em;
      padding-top: 0;
    }
  }

  .post-wrapper {
    flex-direction: column;
    min-height: 0;
    padding: 20px 15px 0;

    .wp-block-file {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .wp-block-file a.wp-block-file__button {
      margin-left: 0px;
      margin-top: $margin-sm;
    }
  }

  .post-wrapper:nth-child(even) {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer .site-description {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hero-landing,
  nav {
    flex-direction: column;
    align-items: center;
  }

  header .menu-item {
    padding: 0 20px;
    margin-top: 10px;
  }

  .text-logo {
    margin-bottom: 5px;
  }

  .post-part-2 {
    padding-top: 0;
  }

  .excerpt-wrapper {
    padding-top: $margin-sm;
    padding-bottom: $margin-sm;
  }

  .title-wrapper {
    margin-bottom: $margin-sm;
  }

  .image-single {
    margin-bottom: $margin-sm;
  }

  .wp-block-quote {
    margin: 0 0 $margin-sm 0;
  }

  .contact-single {
    margin-bottom: $margin-sm;
  }
  section#comments {
    li.depth-2,
    li.depth-3,
    li.depth-4,
    li.depth-5 {
      padding-left: 0;
    }

    footer {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .comment-author.vcard {
      margin-top: $margin-sm / 2;
    }
    .comment-metadata {
      font-size: 12px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: $color-background-dark;
    color: $color-white;
  }

  a {
    text-decoration: none;
    color: $color-white;
  }

  a:hover {
    color: $color-hover-dark;
  }

  .menu li a:hover,
  .text-logo a:hover {
    color: $color-hover-dark;
  }

  header,
  article {
    border-bottom: 2px solid $border-color-dark;
  }

  footer {
    border-top: 2px solid $border-color-dark;
  }

  .wp-block-code {
    border-color: $border-color-dark;
    background-color: $color-background-dark;
  }

  .wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: 2px solid $border-color-dark;
  }

  section#comments {
    input#author,
    input#email,
    input#url,
    textarea#comment,
    article.comment-body {
      border-color: $border-color-dark;
      color: $color-white;
    }

    input#submit {
      border-color: $border-color-dark;
      transition: background-color 0.3s ease-in-out;
      color: $color-white;
    }

    input#submit:hover {
      border-color: $color-hover-dark;
    }

    textarea#comment:focus,
    input#author:focus,
    input#email:focus,
    input#url:focus {
      border-color: $color-hover-dark;
    }
  }
}
