@media (max-width: 766px) {
  p,
  .content-wrapper ul {
    font-size: 20px;
    line-height: 1.4;
  }

  h1 {
    font-size: 32px;
    line-height: 1em;
  }

  .content-wrapper li {
    margin: 0;
  }

  .content-wrapper h3 {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: $margin-lg;
  }

  .post-wrapper {
    flex-direction: column;
    min-height: 0;

    .wp-block-file {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .wp-block-file a.wp-block-file__button {
      margin-left: 0px;
      margin-top: $margin-sm;
    }
  }

  .post-wrapper:nth-child(even) {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  footer .site-description {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .hero-landing,
  nav {
    flex-direction: column;
    align-items: center;
  }

  header .menu-item {
    padding: 0 20px;
    margin-top: 10px;
  }

  .text-logo {
    margin-bottom: 5px;
  }

  .post-part-2 {
    padding-top: 0;
  }

  .excerpt-wrapper {
    padding-top: $margin-sm;
    padding-bottom: $margin-sm;
  }

  .title-wrapper {
    margin-bottom: $margin-sm;
  }

  .image-single {
    margin-bottom: $margin-sm;
  }

  .wp-block-quote {
    margin: 0 0 $margin-sm 0;
  }

  .contact-single {
    margin-bottom: $margin-sm;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: $color-background-dark;
    color: $color-white;
  }

  a {
    text-decoration: none;
    color: $color-white;
  }

  a:hover {
    color: $color-hover-dark;
  }

  .menu li a:hover,
  .text-logo a:hover {
    color: $color-hover-dark;
  }

  header,
  article {
    border-bottom: 2px solid $border-color-dark;
  }

  footer {
    border-top: 2px solid $border-color-dark;
  }

  .wp-block-code {
    border: none;
    background-color: $color-background-dark;
  }

  .wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: 2px solid $border-color-dark;
  }
}
