header,
article {
    border-bottom: 2px solid $color-black;
}

article:last-child {
    border-bottom: none;
}

footer {
    border-top: 2px solid $color-black;
}

.category-wrapper p,
.date-wrapper p {
    font-family: $font-apo;
}

.category-wrapper p {
    line-height: 1.1em;
}

.post-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.post-wrapper:nth-child(even) {
    flex-direction: row-reverse;
}

.post-part-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $margin-lg;
    text-align: center;
    order: 1;
}

.post-part-2 {
    flex: 1;
    padding: $margin-lg;
    order: 2;
}

.category-wrapper {
    font-style: italic;
    text-transform: lowercase;
    text-align: center;
}

.description-p {
    margin-top: $margin-sm;
    margin-bottom: $margin-sm;
}

.excerpt-wrapper {
    padding-top: $margin-lg;
    padding-bottom: $margin-lg;
}

.date-wrapper {
    font-style: italic;
}

.single-page {
    flex-direction: column;
    justify-content: flex-start;
    padding: $margin-lg $margin-lg 0;
}

.content-wrapper {
    font-size: 20px;
    padding: 0 $margin-lg $margin-lg;
    width: 100%;
    max-width: $max-width-content;

    p a {
        text-decoration: underline;
    }

    p {
        margin-bottom: $margin-sm;
    }

    h3 {
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 1.4em;
        line-height: 1.6em;
    }

    ul {
        line-height: 1.6em;
        font-size: 24px;
        margin: $margin-sm;

        li {
            list-style: circle;
            margin: 0 $margin-sm;
        }
    }

    ul.wp-block-gallery {
        margin: 0;
    }

    ol {
        line-height: 1.6em;
        font-size: 24px;
        margin: $margin-sm;

        li {
            list-style: hebrew;
            margin: 0 $margin-sm;
        }
    }
}

.image-single {
    padding: 0;
    margin-bottom: $margin-lg;
    width: 100%;
    max-width: $max-width-content;
}

.mgl-gallery {
    max-width: 800px;
    margin: 0 auto;
}

.mwl-img-in-lightbox {
    width: auto;
    height: auto;
}

.title-single-page {
    text-align: center;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
}

.icon-wrapper {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
}

.pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    line-height: 1em;
    text-align: center;
}

.pagination-link {
    padding: $margin-sm;
    font-size: 20px;
}

.title-wrapper {
    margin-bottom: $margin-lg;
    max-width: 800px;
}

.contact-single {
    margin-bottom: $margin-lg;
}

.image-about {
    max-width: 380px;
}

.more-wrapper {
    margin-top: $margin-lg;
}

.more-front {
    margin-top: 0;
}