//jetpack.scss
.infinite-scroll #navigation,
.infinite-scroll.neverending #footer {
    display: none;
}

.cookie-sidebar {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 999;
    bottom: 50px;
    left: auto;
    right: auto;
    align-items: center;
    justify-content: center;
}